.App {
  font-family: sans-serif;
  text-align: center;
}

.github-card {
  display: block;
  box-sizing: border-box;
  border: 1px solid gray;
  margin: 10px;
  padding: 10px;
  background-color: rgb(25, 31, 88);
  text-decoration: none;
  font-size: 13px;
  flex: 1;
  min-width: 250px;
}

.heading {
  color: #58a6ff;
  display: flex;
  justify-content: center;
}

.Typography {
  color: white;
}

h3 {
  color: tomato;
}

h2 {
  color: #6ec716;
}

h4 {
  color: #e0c91a;
}

.order_select{
  height: 30px;
  display: flex;
  justify-content: space-between;
}

.sort-select{
  height: 30px;
  display: flex;
  justify-content: space-between;
}